<app-navbar></app-navbar>
<app-account-search (accountSearch)="githubUser($event)"></app-account-search>
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <img id="avatar" src="{{users.avatar_url}}" alt="profile pic" height="200px" width="200px">
        <p>User Name: {{users.login}}</p>
        <p>Followers: {{users.followers}}</p>
        <p>Following: {{users.following}}</p>
        <p>Public Repositories: {{users.public_repos}}</p>
        <p>Location: {{users.location}}</p>
      </div>
      <div class="col-md-9">
        <div class="" style="width: 35%">
          <div *ngIf='repositories'>
            <div class="card m-2" *ngFor='let repositories of repositories'>
              <h3>{{repositories.name}}</h3>
              <p> {{repositories.description}} </p>
              <p> Created {{repositories.created_at | timeCount}} on {{repositories.created_at | date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
