a {
    text-decoration: none;
}

.navibar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(235, 217, 229);
    height: 90px;
    margin-top: -2px;
    padding-left: 15%;
    padding-right: 15%;
    /* padding-right: 100px;
    padding-left: 100px; */
}

.navibar a {
    display: flex;
    color: rgb(73, 75, 75);
    font-weight: 900;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .navibar {
        display: flex;
        justify-content: center;
    }
}