<div class="cotainer">
    <br><br><br><br>

    <h2 class="profile text-center">Public Repositories</h2>
      <div class="row">
        <div class="row" *ngIf='repositories'>
          <div class="col-md-6" *ngFor='let repositories of repositories'>
            <div class="repos mb-5">
              <h4>{{repositories.name}}</h4>
              <p> {{repositories.description}} </p>
              <p><em>Created {{repositories.created_at | timeCount}} on {{repositories.created_at | date}}</em></p>
            </div>
          </div>
        </div>
    </div>
</div>